.heroWrapper{
	height:calc(100vh - 70px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
}

.verticalAlignCenter{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	color:white;
	font-size: 28px;
	text-align: right;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 250px;
	grid-gap: 30px;
}

.posts{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 20px;
}

.mainPost{
	margin:0;
}

.sidebarPosts .post{
	margin-top: 20px;
}

.recentHeader{
	background-color: var(--secondary);
	color:white;
	padding:10px;
	border-radius: 0 10px 0 10px;
	display: inline-block;
}

.padding{
	padding-top:30px !important;
	padding-bottom:30px !important;
}

@media (max-width: 905px) {
	.wrapper {
		display: block;
	}

	.sidebarPosts {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 20px;
	}

	.sidebarWrapper{
		margin-top:30px;
	}

	.heroWrapper h1{
		font-size: 42px;
	}	
}
