.header {
	margin: 0 0 0.5rem;
	font-size: 2.25rem;
}

.postLayout {
	width: 100%;
}

.meta {
	color: #9b9b9b;
}

.blogImage {
	width: 100%;
	margin-top: 15px;
}
.container {
	display: block;
	max-width: 36rem;
	width: 100%;
	margin: 0 auto;
	padding: 0 1.5rem;
	box-sizing: border-box;
	z-index: 0;
}
.metadata div {
	display: inline-block;
	margin-right: 0.5rem;
}
.subheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tagList {
	list-style: none;
	margin: 1.75rem 0 0 0;
	padding: 0;
}
.tagList li {
	display: inline-block;
	margin-left: 0.5rem;
}
