.link {
  display: inline-block;
  border-radius: 3px;
  background-color: lightgray;
  color: black;
  transition: background-color 0.3s ease;
  padding: 0.25em 0.5em;
}
.link:active,
.link:hover {
  background-color: rgba(21, 132, 125, 0.4);
}
