.navbar {
  height: 70px;
  background-color: var(--primary);
  color: white;
  width:100%;
  position: sticky;
  top:0;
  z-index: 999;
}

.navbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding:0 16px;
}

.menuItems {
  display: flex;
  font-size: 14px;
}

.logo:hover,
.menuItem:hover {
  cursor: pointer;
}

.menuItem + .menuItem {
  margin-left: 20px;
}

.navbar a{
  color:white;
}

.dotcom{
  font-size: 18px;
}